html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.component {
    height: 100%;
    width: 100%;
    display: flex;

     /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
}

.component.first-component {
     background-image: url("../pics/flamingo.jpg");
}

.component.second-component {
    background-image: url("../pics/basil.jpg");
}

.component.third-component {
    background-image: url("../pics/bee.jpg");
}

.component.fourth-component {
    background-image: url("../pics/pier.jpg");
}

.component.fifth-component {
    background-image: url("../pics/mount.jpg");
}

h2 {
    margin: auto;
    text-align: center;
}

.pagination-additional-class {
    margin: 0;
    position: fixed;
    top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.pagination-additional-class > li > a, .pagination-additional-class > li > span {
    margin-right: 50px;
}